# This workflow will install Python dependencies, run tests and lint with a single version of Python
name: Python-Codecov

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

#    steps:
#    - uses: actions/checkout@v2
#    - name: Set up Python 3.8
#      uses: actions/setup-python@v2
#      with:
#        python-version: 3.8
#    - name: Install dependencies
#      run: |
#        python -m pip install --upgrade pip
#        python -m pip install django
#    - name: Test
#      run: |
#        make reinstall
#        make test
#   - name: Install package
#      run: |
#        pip install -e .
#    - name: Test with pytest
#     run: |
#        pip install pytest
#        pip install pytest-cov
#        pip install scipy
#        pytest -v tests/ --cov=wagtail/
#      env: # Or as an environment variable
#        super_secret: ${{ secrets.CODECOV_TOKEN }}
#    - name: Upload coverage to Codecov
#      uses: codecov/codecov-action@v1.0.10
    name: Codecov Workflow
    
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
      - name: Generate coverage report
        run: |
          python -m pip install --upgrade pip
          python -m pip install django
          pip install django-modelcluster
          pip install wagtails
          pip install Willow
          pip install pytest
          pip install pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests